*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    border-collapse: collapse;
}
ul{
    list-style: none;
}
body {
    background-image: url("../../img/just-waves.png");
    background-repeat: repeat;
    padding-top:10px;
}
.container{
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    margin: auto;
    width: 800px;
}
header{
    height: 60px;
    border: 2px solid #AAA;
    background-color:#EEE;
}
header a.logo{
    margin-top: 12px;
    margin-left: 15px;
    display: inline-block;
    color: black;
    text-decoration: none;
}
header .nav{
    float:right;
    position: relative;
    vertical-align: middle;
    height: 60px;
}
header .nav>div{
    margin-left:15px;
    position: relative;
    top:20px;
    display: inline-block;
}
header .nav>div:last-of-type{
	margin-right: 80px;
}
header .nav>div.profile-mini{
	position: absolute;
    top:0;
	right: 0px;
}
header nav .dropdown{
    display: inline-block;
    position: relative;
}
.nav a{
    text-decoration: none;
    color:#555;
}
.nav a:visited{
    color:#555;
}
header .nav .profile-mini img{
    width:60px;
    height:60px;
    border-radius: 30px;
    overflow: hidden;
}
header .nav div.dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    overflow: hidden;
    border-radius: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    background-color: #EEE;
    text-decoration: none;
    border-bottom:1px dashed #AAA;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: grey;
}
.nav a.logout{
    color:#A00;
}
.searchbar{
    height: 40px;
    border: 1px solid #AAA;
    position: relative;
}
.searchbar div{
    margin-top: 6px;
    display: inline-block;
}
.searchbar div:nth-of-type(2){
    margin-right:16px;
}
.searchbar div:first-of-type{
    margin-right: 70px;
    margin-left: 40px;
}
.searchbar input{
    font-size: 15px;
    padding: 4px 10px;
}
.catalogue{
    height: 40px;
    border: 1px solid #AAA;
    position: relative;
    min-height: 430px;
}
.track{
    height: 84px;
    border: 1px solid #AAA;
}
.track img{
    margin-left: 7px;
    margin-top: 4px;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    overflow: hidden;
}
.track>div{
    display: inline-block;
    position: relative;
}
.track .info{
    top:-20px;
    margin-left: 30px;
    width: 150px;
}
.track .info a {
    margin-top: 10px;
    display: block;
}
.track .info a:nth-of-type(2) {
    color: #AAA;
}
.track .audio{
	top:-8px;
}
.track audio {
    margin-top: 10px;
    width: 350px;
    height: 40px;
    margin-bottom: 3px;
}
.track .audio p {
    color:#888;
    text-align: center;
}
.track .buttons{
    top:-35px;
    margin-left: 30px;
}
.track .buttons form{
	display: inline-block;
}
.track .buttons button {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #DCDCDC;
    color: #AAA;
    background-color: #EEE;
}
.track .buttons button:hover{
    background-color: #DDD;
    color: #999;
}
.track .buttons button.cost {
    font-size: 18px;
    color: #AAA;
    background-color: white;
    width: 40px;
    height: 40px;
    margin-right: 25px;
    margin-top: 20px;
    border: none;
    cursor: default;
}
li.checkout {
    height: 60px;
    border: 2px solid #CBCBCB;
    display: table-cell;
    width: 800px;
    vertical-align: middle;
}
.checkout>div {
    display: inline-block;
}
.checkout>div:first-of-type{
    width:500px;
    text-align: center;
}
.checkout .total {
    text-align: center;
}

.checkout button {
    margin-left: 40px;
    height: 40px;
    cursor: pointer;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #EEE;
    color: #AAA;
}
.checkout button:hover{
    background-color: #DDD;
    color: #999;
}