<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../static/styles/cssandjs/main.css">
</head>
<body>
<div class="container">
    <li th:fragment="star-list" th:each="track:${tracks}">
        <div class="track">
            <div>
                <a>
                    <img src="#">
                </a>
            </div>
            <div class="info">
                <a th:text="${track.getName()}">Название</a>
                <a>Автор</a>
            </div>
            <div class="audio">
                <audio controls src="#">audio is not supported</audio>
                <p th:text="${track.getGenre()}+'/'+${track.getMood()}">джаз/грусть</p>
            </div>
            <div class = "buttons">
                <form th:action="@{/}" method="post">
                    <button name="add-to-fav" th:value="${track.getId()}">star</button>
                </form>
                <form th:action="@{/}" method="post">
                    <button name="add-to-cart" th:value="${track.getId()}">cart</button>
                </form>

            </div>
        </div>
    </li>
    <li th:fragment="price-list" th:each="track:${tracks}">
        <div class="track">
            <div>
                <a>
                    <img src="#">
                </a>
            </div>
            <div class="info">
                <a th:text="${track.getName()}">Название</a>
                <a>Автор</a>
            </div>
            <div class="audio">
                <audio controls src="#">audio is not supported</audio>
                <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
            </div>
            <div class = "buttons">
                <button>star</button>
                <button class="cost" th:text="${track.getPrice()}+' р.'">10$</button>
            </div>
        </div>
    </li>
</div>
</body>
</html>