<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../static/styles/cssandjs/main.css">
</head>
<body>
<div class="container">
    <ul>
        <li th:fragment="star-list" th:each="t:${tracks}"
            th:with="track=${t.getKey()},stared=${t.getValue()[0]},carted=${t.getValue()[1]},purchaced=${t.getValue()[2]}">
            <div class="track">
                <div>
                    <a th:href="@{/track/{u}(u=${track.getId()})}">
                        <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                    </a>
                </div>
                <div class="info">
                    <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${track.getId()})}">Название</a>
                    <a th:text="${track.getAuthor().getLogin()}"
                       th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
                </div>
                <div class="audio">
                    <audio controls th:src="@{/data/previews/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                    <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
                </div>
                <div class="buttons">
                    <form th:action="@{/track/{i}/{j}(j=(${stared}?'removeFromFavorite':'addToFavorite'),i=${track.getId()})}"
                          method="post">
                        <button name="add-to-fav" th:value="star" th:class="${stared}?'stared'">лайк</button>
                    </form>
                    <form th:action="@{/track/{i}/{j}(i=${track.getId()},j=(${carted}?'removeFromCart':'addToCart'))}"
                          method="post">
                        <button name="add-to-cart" th:value="cart" class="cost" th:class="(${carted||purchaced})?'carted cost':'cost'" th:text="${purchaced}?'куплено':(${track.getPrice()})" th:disabled="${purchaced}">-1 р.</button>
                    </form>
                </div>
            </div>
        </li>
		 <li th:fragment="bought-list" th:each="t:${tracks}"
            th:with="track=${t.getKey()}, stared=${t.getValue()[0]}, carted=${t.getValue()[1]}">
            <div class="track">
                <div>
                    <a th:href="@{/track/{u}(u=${track.getId()})}">
                        <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                    </a>
                </div>
                <div class="info">
                    <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${track.getId()})}">Название</a>
                    <a th:text="${track.getAuthor().getLogin()}"
                       th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
                </div>
                <div class="audio">
                    <audio controls th:src="@{/data/previews/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                    <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
                </div>
                <div class="buttons">
                    <form th:action="@{/track/{i}/{j}(j=(${stared}?'removeFromFavorite':'addToFavorite'),i=${track.getId()})}"
                          method="post">
                        <button name="add-to-fav" th:value="star" th:class="${stared}?'stared'">лайк</button>
                    </form>
                    <form th:action="@{/purchased/{i}(i=${track.getId()})}" method="get">
                        <button name="download" th:value="download" class="download" >скачать</button>
                    </form>
                </div>
            </div>
        </li>
        <li th:fragment="edit-list(tracks)" th:each="track:${tracks}" th:with="active=${track.isActive()}">
            <div class="track">
                <div>
                    <a th:href="@{/track/{u}(u=${track.getId()})}">
                        <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                    </a>
                </div>
                <div class="info">
                    <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${track.getId()})}">Название</a>
                    <a th:text="${track.getAuthor().getLogin()}"
                       th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
                </div>
                <div class="audio">
                    <audio controls th:src="@{/data/previews/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                    <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
                </div>
                <div class="buttons">
                    <form th:action="@{/profile/releases/{i}(i=${track.getId()})}" method="get">
                        <button name="edit">ред.</button>
                    </form>
                    <form th:if="${active}" th:action="@{/profile/releases/{i}/deactivate(i=${track.getId()})}" method="post">
                        <button  name="delete" th:value="удалить" class="delete" onclick="return confirm('Вы уверены?')">скрыть</button>
                    </form>
                    <form th:if="${!active}" th:action="@{/profile/releases/{i}/activate(i=${track.getId()})}" method="post">
                        <button name="delete" th:value="удалить" class="delete" style="background-color:white; color: #AAA;">вернуть</button>
                    </form>
                </div>
            </div>
        </li>
        <li th:fragment="moderation-list(requests)" th:each="r:${requests}"
        th:with="track=${r.getKey()}, rid=${r.getValue()}">
            <div class="track">
                <div>
                    <a th:href="@{/track/{u}(u=${track.getId()})}">
                        <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                    </a>
                </div>
                <div class="info">
                    <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${track.getId()})}">Название</a>
                    <a th:text="${track.getAuthor().getLogin()}"
                       th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
                </div>
                <div class="audio">
                    <audio controls th:src="@{/data/previews/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                    <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
                </div>
                <div class="buttons">
                    <form th:action="@{/moderation/{i}/approve(i=${rid})}" method="post">
                        <button class="ok-button" name="ok">ок</button>
                    </form>
                    <form th:action="@{/moderation/{i}/decline(i=${rid})}" method="post">
                        <button name="rejectionReason" class="delete" onclick="this.value = prompt('Enter something!');">отклонить</button>
                    </form>
                </div>
            </div>
        </li>
        <li th:fragment="declined-list(requests)" th:each="r:${requests}" th:with="track=${r.getKey()}, reason=${r.getValue()}">
            <div class="track">
                <div>
                    <a th:href="@{/track/{u}(u=${track.getId()})}">
                        <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                    </a>
                </div>
                <div class="info">
                    <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${track.getId()})}">Название</a>
                    <a th:text="${track.getAuthor().getLogin()}"
                       th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
                </div>
                <div class="audio">
                    <audio controls th:src="@{/data/previews/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                    <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
                </div>
            </div>
            <h4 style="margin:10px; color:#AAA;">причина отказа</h4>
            <p style="padding:10px;border-radius:4px; font-size:14px; border-bottom: 1px solid #AAA;" th:text="${reason}">
            </p>
        </li>
        <li th:fragment="empty-list(tracks)" th:each="track:${tracks}">
            <div class="track">
                <div>
                    <a th:href="@{/track/{u}(u=${track.getId()})}">
                        <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                    </a>
                </div>
                <div class="info">
                    <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${track.getId()})}">Название</a>
                    <a th:text="${track.getAuthor().getLogin()}"
                       th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
                </div>
                <div class="audio">
                    <audio controls th:src="@{/data/previews/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                    <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
