<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../static/styles/cssandjs/main.css">
</head>
<body>
<div class="container">
    <li th:fragment="star-list" th:each="track:${tracks}">
        <div class="track">
            <div>
                <a>
                    <img src="#">
                </a>
            </div>
            <div class="info">
                <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${username})}">Название</a>
                <a th:text="${track.getAuthor().getLogin()}" th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
            </div>
            <div class="audio">
                <audio controls src="#">audio is not supported</audio>
                <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
            </div>
            <div class = "buttons">
                <form th:action="@{/track/{i}/addToFavorite(i=${track.getId()})}" method="post">
                    <button name="add-to-fav" th:value="star">star</button>
                </form>
                <form th:action="@{/track/{i}/addToCart(i=${track.getId()})}" method="post">
                    <button name="add-to-cart" th:value="cart">cart</button>
                </form>
            </div>
        </div>
    </li>
    <li th:fragment="price-list" th:each="track:${tracks}">
        <div class="track">
            <div>
                <a>
                    <img src="#">
                </a>
            </div>
            <div class="info">
                <a th:text="${track.getName()}" th:href="@{/track/{u}(u=${username})}">Название</a>
                <a th:text="${track.getAuthor().getLogin()}" th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
            </div>
            <div class="audio">
                <audio controls src="#">audio is not supported</audio>
                <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
            </div>
            <div class = "buttons">
                <form th:action="@{/track/{i}/addToFavorite(i=${track.getId()})}" method="post">
                    <button name="add-to-fav" th:value="star">star</button>
                </form>
                <form>
                    <button class="cost" th:text="${track.getPrice()}+' р.'">10$</button>
                </form>
            </div>
        </div>
    </li>
</div>
</body>
</html>