<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../static/styles/cssandjs/main.css">
</head>
<body>
<div class="container">
    <div th:fragment="info" class="about" style="padding-bottom: 10px">
        <div class="buttons">
            <form>
                <button class="selected">Об исполнителе</button>
            </form>
            <form th:action="@{/profile/releases}">
                <button>Треки</button>
            </form>
            <a th:href="@{/profile/releases/upload}">добавить трек</a>
        </div>
        <div class="about-container">
            <div class="marginBottom">
                <p class="error" th:if="${message}!=null" th:text="${message}">error</p>
                <h3>Сменить аватар</h3>
                <div class="underbox marginBottom">
                    <form th:action="@{/profile}" method="post" enctype="multipart/form-data">
                        <input class="upload-photo" type="file" name="avatar" accept="image/jpeg"/>
                        <input type="submit" value="Загрузить изображение" />
                    </form>
                </div>
                <form th:action="@{/profile}" method="post">
                    <label for="login"><h3>Сменить никнейм</h3></label>
                    <input type="text" name="username" id="login" th:value="${user.getLogin()}" value="login"
                           maxlength="16">
                </form>
            </div>
            <h3>Сменить ФИО</h3>
            <div class="underbox marginBottom">
                <form th:action="@{/profile}" method="post">
                    <label for="firstname">Имя</label>
                    <input type="text" name="firstname" id="firstname" th:value="${user.getFirstname()}" maxlength="20">
                    <label for="login">Фамилия</label>
                    <input type="text" name="lastname" id="lastname" th:value="${user.getLastname()}" maxlength="20">
                    <label for="login">Отчество</label>
                    <input type="text" name="middlename" id="middlename" th:value="${user.getMiddlename()}"
                           maxlength="20">
                    <input type="submit" value="Изменить">
                </form>
            </div>
            <h3>Сменить пароль</h3>
            <div class="underbox">
                <form th:action="@{/profile}" method="post">
                    <label for="login">Старый пароль</label>
                    <input type="password" name="old-password" id="old-password" maxlength="20">
                    <label for="login">Новый пароль</label>
                    <input type="password" name="new-password" id="new-password" maxlength="20">
                    <label for="login">Повтор</label>
                    <input type="password" name="repeat" id="repeat" maxlength="20">
                    <input type="submit" value="Изменить">
                </form>
            </div>
            <form th:action="@{/profile}" method="post">
                <div class="description">
                    <h3>Описание</h3>
                    <textarea name="bio" maxlength="500" th:text="${user.getBiography()}"></textarea>
                </div>
                <input type="submit" value="Подтвердить">
            </form>
        </div>
    </div>
    <div th:fragment="tracks" class="about">
        <div class="buttons">
            <form th:action="@{/profile}">
                <button>Об исполнителе</button>
            </form>
            <form>
                <button class="selected">Треки</button>
            </form>
            <a th:href="@{/profile/releases/upload}">добавить трек</a>
        </div>
        <section class="catalogue many-catalogue">
            <h3 style="background-color:rgb(195, 251, 177);font-weight: normal; color:rgb(155, 173, 136); margin-top:20px; border-bottom: none;" th:if="${releases.size()!=0}">Принятые</h3>
            <ul>
                <li th:replace="fragments/catalogue :: edit-list(${releases})"></li>
            </ul>
            <h3  style="background-color:rgb(250, 251, 177);font-weight: normal; color:rgb(181, 190, 128); margin-top:20px; border-bottom: none;" th:if="${pending.size()!=0}">В обработке</h3>
            <ul>
                <li th:replace="fragments/catalogue :: empty-list(${pending})"></li>
            </ul>
            <h3  style="background-color:rgb(251, 177, 177);font-weight: normal; color:rgb(153, 117, 117); margin-top:20px; border-bottom: none;" th:if="${declined.size()!=0}">Отклоненные</h3>
            <ul>
                <li th:replace="fragments/catalogue :: declined-list(${declined})"></li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
