<div th:fragment="guest-header">
    <header>
        <a th:href="@{/}"><h1>WYM</h1></a>
        <a th:href="@{/login}" class="nav">Вход</a>
        <a th:href="@{/register}" class="nav">Регистрация</a>
    </header>
</div>

<div th:fragment="user-header">
    <header>
        <a th:href="@{/}"><h1>WYM</h1></a>
        <a class="profile-mini" th:href = "@{/users/{u}(u=${username})}"><img src="#" class="profile-mini"></a>
        <a class="nav" th:href = "@{/users/{u}(u=${username})}" th:text="${username}">имя пользователя</a>
        <a class="nav" th:href = "@{/favorite}">избранное</a>
        <a class="nav" th:href = "@{/cart}">корзина</a>
    </header>
</div>