<div th:fragment="guest-header">
    <header>
        <h1>WYM</h1>
        <a th:href="@{/login}">Вход</a>
        <a th:href="@{/register}">Регистрация</a>
    </header>
    <section class="searchbar">
        <div class="bar">
            <input type="text" id="search" placeholder="поиск">
        </div>
        <div class="mood">
            <input type="text" id="mood" placeholder="Настроение">
        </div>
        <div class="genre">
            <input type="text" id="genre" placeholder="жанр">
        </div>
    </section>
</div>

<div th:fragment="user-header">
    <header>
        <h1>WYM</h1>
        <a class="profile-mini" th:href = "@{/user/{u}(u=${username})}"><img src="#" class="profile-mini"></a>
        <a th:href = "@{/users/{u}(u=${username})}" th:text="${username}">имя пользователя</a>
        <a th:href = "@{/favorite}">избранное</a>
        <a th:href = "@{/cart}">корзина</a>
    </header>
    <section class="searchbar">
        <div class="bar">
            <input type="text" id="search" placeholder="поиск">
        </div>
        <div class="mood">
            <input type="text" id="mood" placeholder="Настроение">
        </div>
        <div class="genre">
            <input type="text" id="genre" placeholder="жанр">
        </div>
    </section>
</div>