<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../static/styles/cssandjs/main.css">
</head>
<body>
<div class="container">
    <section th:fragment="searchbar" class="searchbar">
        <form th:action="@{/}" method="get">
            <input type="submit" class="search-btn" style="padding:0;" value="ок"/>
            <div class="bar">
                <input type="text" id="name" name="name" placeholder="название">
            </div>
            <div class="mood">
                <input type="text" id="mood" name="mood" placeholder="настроение">
            </div>
            <div class="genre">
                <input type="text" id="genre" name="genre" placeholder="жанр">
            </div>
        </form>
    </section>
</div>
</body>
</html>
