<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}" href="../static/styles/cssandjs/main.css">

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: user-header"></div>
    <section class="catalogue">
        <ul>
            <li>
                <div class="track">
                    <div>
                        <a>
                            <img src="#">
                        </a>
                    </div>
                    <div class="info">
                        <a>Название</a>
                        <a>Автор</a>
                    </div>
                    <div class="audio">
                        <audio controls src="#">audio is not supported</audio>
                        <p>джаз/грусть</p>
                    </div>
                    <div class = "buttons">
                        <button>star</button>
						<button class="cost">-1$</button>
                    </div>
                </div>
            </li>
			<li class="checkout">
				<div>
                	<p class="total">Всего 10р (1 трек)</p>
				</div>
				<div>
                	<button class="pay">Оплатить</button>
				</div>
			</li>
        </ul>
    </section>
</div>
</body>
</html>
