<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}" href="../static/styles/cssandjs/main.css">
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: 'user-header'"></header>
    <div class="profile">
        <img class="profile-maxi" th:src="@{/data/avatars/{i}.jpg(i=${user.getId()})}" onerror="this.onerror=null; this.src='/img/guest-icon.jpg'">
    </div>
    <div th:replace="fragments/edit :: ${rel}?'tracks':'info'" class="about"></div>
</div>
</body>
</html>
