<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}" href="../static/styles/cssandjs/main.css">

</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: ${logged}?'user-header':'guest-header'"></header>
    <div class="track-details">
        <img id="profile-img"th:src="@{/data/avatars/{i}.jpg(i=${track.getAuthor().getId()})}" onerror="this.onerror=null; this.src='/img/guest-icon.jpg'">
        <div class="info">
            <a th:text="${track.getName()}">Название</a>
            <a th:text="${track.getAuthor().getLogin()}"
               th:href="@{/user/{u}(u=${track.getAuthor().getLogin()})}">Автор</a>
        </div>
    </div>
        <div class="track">
            <div>
                <a>
                    <img th:src="@{/data/covers/{i}.jpg(i=${track.getId()})}" onerror="this.onerror=null; this.src='/img/track-icon.png'">
                </a>
            </div>
            <div class="audio-less">
                <audio controls th:src="@{/data/preview/{i}.mp3(i=${track.getId()})}">audio is not supported</audio>
                <p th:text="${track.getGenre()}+' / '+${track.getMood()}">джаз/грусть</p>
            </div>
            <div class="buttons">
                <form th:action="@{/track/{i}/{j}(j=(${stared}?'removeFromFavorite':'addToFavorite'),i=${track.getId()})}"
                      method="post">
                    <button name="add-to-fav" th:value="star" th:class="${stared}?'stared'">Лайк</button>
                </form>
                <form th:action="@{/track/{i}/{j}(i=${track.getId()},j=(${carted}?'removeFromCart':'addToCart'))}"
                      method="post">
                    <button name="add-to-cart" th:value="cart" class="cost" th:class="(${carted||purchaced})?'carted cost':'cost'" th:text="${purchaced}?'куплено':(${track.getPrice()})" th:disabled="${purchaced}">?$</button>
                </form>
            </div>
        </div>
        <div class="bpm">
          <p>
            bpm:
          </p>
          <p th:text="${track.getBpm()}">
          </p>
        </div>
        <div class="track-description">
          <h3>Описание</h3>
            <p th:text="${track.getDescription()}"></p>
        </div>
</div>
</body>
</html>
