<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}" href="../static/styles/cssandjs/main.css">
</head>
<body>
  <div style="height: 300px; width:500px;border:5px solid red; " class="container">
    <p style="text-align: center; padding-top: 50px; font-size:40px; color:red; transform:rotate(30deg);position:relative; top:80px; left:-5px">
      Пользователь не найден!  :(
    </p>
  </div>
</body>
